In [1]:
# Get the MSA summary reports
# Read a year of MSA summaries into a dataframe and code it

# Get the State summary reports
# Read a year of State summaries into a dataframe and code it

"""
   - identify the demog variables in both ACS and PUMD
"""
# PUMD
import oe_bls_cex_pumd
oe_bls_cex_pumd.oe_bls_cex_pumd_download()   # Download the PUMD files
oe_bls_cex_pumd.oe_bls_cex_pumd_read()       # Read a year into dataframes
oe_bls_cex_pumd.oe_bls_cex_pumd_metadata()   # Open their Dictionary and Hierarchical Groupings
oe_bls_cex_pumd.oe_bls_cex_pumd_interpret()  # Interpret the year, applying weights, flags, etc

"""
   - make the CE costs match the totals
"""
# Test that the PUMD total by MSA matches the MSA summary reports
# Test that the PUMD total by State matches the State summary reports

"""
   - find the regression model architecture
"""
# Train the regression model

"""
   - find the penetration model architecture
"""
# Train the penetration model

# Apply the regression model to get expenditures by block groups
# Apply the penetration model to distribute block group expenditures across the spending items
# Generate the blockgroup spending CSV

In [ ]:
https://download.bls.gov/pub/time.series/cx/cx.item
https://download.bls.gov/pub/time.series/cx/cx.characteristics
https://download.bls.gov/pub/time.series/cx/cx.contacts
https://download.bls.gov/pub/time.series/cx/cx.data.1.AllData
    
  9/8/2022 10:03 AM          238 cx.category
  9/8/2022 10:03 AM         7583 cx.characteristics
 4/15/2005 10:50 AM         1123 cx.contacts
  9/8/2022 10:03 AM     27770657 cx.data.1.AllData
  9/8/2022 10:03 AM          761 cx.demographics
  9/8/2022 10:03 AM          603 cx.footnote
  9/8/2022 10:03 AM         8094 cx.item
  9/8/2022 10:03 AM           83 cx.process
  9/8/2022 10:03 AM      3494251 cx.series
  9/8/2022 10:03 AM         1194 cx.subcategory

In [6]:
import pandas as pd
import requests
import json

CEXURL = "https://download.bls.gov/pub/time.series/cx/"
#series = requests.get("https://download.bls.gov/pub/time.series/cx/cx.series")

categories =      pd.read_csv(CEXURL + "cx.categories", sep='\t')
characteristics = pd.read_csv(CEXURL + "cx.characteristics", sep='\t')
contacts =        pd.read_csv(CEXURL + "cx.contacts", sep='\t')
alldata =         pd.read_csv(CEXURL + "cx.data.1.AllData", sep='\t')
demographics =    pd.read_csv(CEXURL + "cx.demographics", sep='\t')
footnote =        pd.read_csv(CEXURL + "cx.data.1.footnote", sep='\t')
item =            pd.read_csv(CEXURL + "cx.item", sep='\t')

series =          pd.read_csv(CEXURL + "cx.series", sep='\t')

In [7]:
series.item_code.unique()

array(['080110', '190904', '220211', '270102', '500110', '800721',
       '900000', '910050', '980010', '980020', '980030', '980050',
       '980060', '980210', '980220', '980230', '980240', '980260',
       '980270', '980285', '980286', '980290', '980300', '980310',
       '980320', '980350', 'ALCBEVG', 'ANIMAL', 'APPAREL', 'BAKERY',
       'BEEF', 'BOYS', 'CAREPAIR', 'CASHCONT', 'CERBAKRY', 'CEREAL',
       'CHGASLI', 'CHGASSET', 'CHGLIAB', 'CONSUNIT', 'DAIRY', 'DRUGS',
       'EDUCATN', 'ELECTRIC', 'ENTEROTH', 'ENTRTAIN', 'FATSOILS',
       'FEDTAXES', 'FEESADM', 'FISHSEA', 'FLOORCOV', 'FOODAWAY',
       'FOODHOME', 'FOODTOTL', 'FOOTWEAR', 'FRESHVEG', 'FRSHFRUT',
       'FRUITVEG', 'FURNITUR', 'GASOIL', 'GIRLS', 'HEALTH', 'HHFURNSH',
       'HHOPER', 'HHOTHXPN', 'HHPERSRV', 'HHTXTILE', 'HKPGOTHR',
       'HKPGSUPP', 'HLTHINSR', 'HOMEOWN', 'HOUSING', 'INCAFTAX',
       'INCAFTTX', 'INCBEFTX', 'INCBFTAX', 'INDIVRNT', 'INFANT',
       'INSPENSN', 'LAUNDRY', 'LIFEINSR', 'MAJAPPL', 'MEDSERVS',
       'MEDSUPPL', 'MENBOYS', 'MENS', 'MILKCRM', 'MISCFOOD', 'MISCHHEQ',
       'MISC', 'MRTPRINP', 'NALCBEVG', 'NATRLGAS', 'NEWCARS', 'OTHAPPRL',
       'OTHBNFTS', 'OTHDAIRY', 'OTHLODGE', 'OTHREGIN', 'OTHRFOOD',
       'OTHRFUEL', 'OTHRINC', 'OTHRMEAT', 'OTHRMONY', 'OTHRTAX',
       'OTHVEHCL', 'OWNDWELL', 'OWNEXPEN', 'OWNMORTG', 'PENSIONS',
       'PERSCARE', 'PERSTAX', 'PETS', 'PETSPLAY', 'PHONE', 'PORK',
       'POSTAGE', 'POULTRY', 'PROCFRUT', 'PROCVEG', 'PUBTRANS', 'READING',
       'REGCONT', 'RESPHONE', 'RETIRINC', 'RNTDWELL', 'SFEMPINC',
       'SHELTER', 'SMAPPHWR', 'STATETAX', 'SWEETS', 'TOBACCO', 'TOTALEXP',
       'TOYS', 'TRANS', 'TVAUDIO', 'USEDCARS', 'UTILS', 'VEHFINCH',
       'VEHICLES', 'VEHOTHXP', 'VEHPURCH', 'VEHRNTLC', 'WATER', 'WELFARE',
       'WHTNDOTH', 'WMNSGRLS', 'WOMENS'], dtype=object)

,series_id,seasonal,category_code,subcategory_code,item_code,demographics_code,characteristics_code,process_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
0,CXU080110LB0101M,U,EXPEND,FOODTOTL,080110,LB01,01,M,Eggs by Income Quintiles: All Consumer Units,NaN,1984,A01,2021,A01
1,CXU080110LB0102M,U,EXPEND,FOODTOTL,080110,LB01,02,M,Eggs by Income Quintiles: Lowest 20 percent in...,NaN,1984,A01,2021,A01
2,CXU080110LB0103M,U,EXPEND,FOODTOTL,080110,LB01,03,M,Eggs by Income Quintiles: Second 20 percent in...,NaN,1984,A01,2021,A01
3,CXU080110LB0104M,U,EXPEND,FOODTOTL,080110,LB01,04,M,Eggs by Income Quintiles: Third 20 percent inc...,NaN,1984,A01,2021,A01
4,CXU080110LB0105M,U,EXPEND,FOODTOTL,080110,LB01,05,M,Eggs by Income Quintiles: Fourth 20 percent in...,NaN,1984,A01,2021,A01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,CXUWOMENSLB1901M,U,EXPEND,APPAREL,WOMENS,LB19,01,M,"Apparel, Women, 16 and over by Type of area: A...",NaN,2021,A01,2021,A01
21451,CXUWOMENSLB1902M,U,EXPEND,APPAREL,WOMENS,LB19,02,M,"Apparel, Women, 16 and over by Type of area: T...",NaN,2021,A01,2021,A01
21452,CXUWOMENSLB1903M,U,EXPEND,APPAREL,WOMENS,LB19,03,M,"Apparel, Women, 16 and over by Type of area: T...",NaN,2021,A01,2021,A01
21453,CXUWOMENSLB1904M,U,EXPEND,APPAREL,WOMENS,LB19,04,M,"Apparel, Women, 16 and over by Type of area: T...",NaN,2021,A01,2021,A01
21454,CXUWOMENSLB1905M,U,EXPEND,APPAREL,WOMENS,LB19,05,M,"Apparel, Women, 16 and over by Type of area: T...",NaN,2021,A01,2021,A01